html {
    background: linear-gradient(90deg, #1CB5E0 0%, #000851 100%);
    background-size: 2000px;
    margin: 0;
    padding: 20px;
}
/*------------------------------------Encabezado-------------------------------------*/
.Text-contenedor { /* Encabezado de la página */
    font-size: 60px;
    font-family: "Libre Baskerville", serif;
    font-weight: 500;
    margin: 0;
    padding: 60px;
    margin-left:100px;
    color: #fff7f7;
    overflow-x: auto;
}
/*------------------------------------Subtitulo-------------------------------------*/

.animales1 {
    font-size: 40px;
    font-family: "Libre Baskerville", serif;
    font-weight: 500;
    margin: 0;
    padding: 60px;
    margin-left: 500px;
    color: #fff7f7;
    overflow-x: auto;
    
}

.pajaros2 {
    font-size: 40px;
    font-family: "Libre Baskerville", serif;
    font-weight: 500;
    margin: 0;
    padding: 60px;
    margin-left: 510px;
    color: #fff7f7;
    overflow-x: auto;
    
}
.comida3 {
    font-size: 40px;
    font-family: "Libre Baskerville", serif;
    font-weight: 500;
    margin: 0;
    padding: 60px;
    margin-left: 500px;
    color: #fff7f7;
    overflow-x: auto;
    
}

.bebe4 {
    font-size: 40px;
    font-family: "Libre Baskerville", serif;
    font-weight: 500;
    margin: 0;
    padding: 60px;
    margin-left: 530px;
    color: #fff7f7;
    overflow-x: auto;
    
}
.personas5 {
    font-size: 40px;
    font-family: "Libre Baskerville", serif;
    font-weight: 500;
    margin: 0;
    padding: 60px;
    margin-left: 500px;
    color: #fff7f7;
    overflow-x: auto;
    
}
.colores-formas6 {
    font-size: 40px;
    font-family: "Libre Baskerville", serif;
    font-weight: 500;
    margin: 0;
    padding: 60px;
    margin-left: 410px;
    color: #fff7f7;
    overflow-x: auto;
    
}
.transporte7 {
    font-size: 40px;
    font-family: "Libre Baskerville", serif;
    font-weight: 500;
    margin: 0;
    padding: 60px;
    margin-left: 500px;
    color: #fff7f7;
    overflow-x: auto;
    
}
.hogar8 {
    font-size: 40px;
    font-family: "Libre Baskerville", serif;
    font-weight: 500;
    margin: 0;
    padding: 60px;
    margin-left: 530px;
    color: #fff7f7;
    overflow-x: auto;
    
}
.cocina9 {
    font-size: 40px;
    font-family: "Libre Baskerville", serif;
    font-weight: 500;
    margin: 0;
    padding: 60px;
    margin-left: 520px;
    color: #fff7f7;
    overflow-x: auto;
    
}
.dormitorio10 {
    font-size: 40px;
    font-family: "Libre Baskerville", serif;
    font-weight: 500;
    margin: 0;
    padding: 60px;
    margin-left: 470px;
    color: #fff7f7;
    overflow-x: auto;
    
}
.matematicas11 {
    font-size: 40px;
    font-family: "Libre Baskerville", serif;
    font-weight: 500;
    margin: 0;
    padding: 60px;
    margin-left: 450px;
    color: #fff7f7;
    overflow-x: auto;
    
}
.dias-festivos12 {
    font-size: 40px;
    font-family: "Libre Baskerville", serif;
    font-weight: 500;
    margin: 0;
    padding: 60px;
    margin-left: 450px;
    color: #fff7f7;
    overflow-x: auto;
    
}
.verbos13 {
    font-size: 40px;
    font-family: "Libre Baskerville", serif;
    font-weight: 500;
    margin: 0;
    padding: 60px;
    margin-left: 520px;
    color: #fff7f7;
    overflow-x: auto;
    
}
.adjetivos14 {
    font-size: 40px;
    font-family: "Libre Baskerville", serif;
    font-weight: 500;
    margin: 0;
    padding: 60px;
    margin-left: 500px;
    color: #fff7f7;
    overflow-x: auto;
    
}
.naturaleza15 {
    font-size: 40px;
    font-family: "Libre Baskerville", serif;
    font-weight: 500;
    margin: 0;
    padding: 60px;
    margin-left: 500px;
    color: #fff7f7;
    overflow-x: auto;
    
}
.calendario16 {
    font-size: 40px;
    font-family: "Libre Baskerville", serif;
    font-weight: 500;
    margin: 0;
    padding: 60px;
    margin-left: 500px;
    color: #fff7f7;
    overflow-x: auto;
    
}
.electrodomesticos17 {
    font-size: 40px;
    font-family: "Libre Baskerville", serif;
    font-weight: 500;
    margin: 0;
    padding: 60px;
    margin-left: 410px;
    color: #fff7f7;
    overflow-x: auto;
    
}
.escuela18 {
    font-size: 40px;
    font-family: "Libre Baskerville", serif;
    font-weight: 500;
    margin: 0;
    padding: 60px;
    margin-left: 500px;
    color: #fff7f7;
    overflow-x: auto;
    
}
.cuerpo-humano19 {
    font-size: 40px;
    font-family: "Libre Baskerville", serif;
    font-weight: 500;
    margin: 0;
    padding: 60px;
    margin-left: 420px;
    color: #fff7f7;
    overflow-x: auto;
    
}
.educacion-financiera20 {
    font-size: 40px;
    font-family: "Libre Baskerville", serif;
    font-weight: 500;
    margin: 0;
    padding: 60px;
    margin-left: 380px;
    color: #fff7f7;
    overflow-x: auto;
    
}
.musica21 {
    font-size: 40px;
    font-family: "Libre Baskerville", serif;
    font-weight: 500;
    margin: 0;
    padding: 60px;
    margin-left: 520px;
    color: #fff7f7;
    overflow-x: auto;
    
}
.instrumentos-musicales22 {
    font-size: 40px;
    font-family: "Libre Baskerville", serif;
    font-weight: 500;
    margin: 0;
    padding: 60px;
    margin-left: 350px;
    color: #fff7f7;
    overflow-x: auto;
    
}


/*-----------------------------------Animales 1--------------------------------------------------*/
.Contenedor-tarjetas {
    display: grid; /* Activar CSS Grid */
    gap: 20px; /* Espacio entre filas y columnas */
    grid-template-columns: 200px 200px 200px 200px; /* Cuatro columnas de 200px */
    /**padding: 20px;**/

   
}
.media-card {
    background-color: #fff; /* Fondo de contenedor de las imágenes */
    border-radius: 10px;
    padding: 30px;
    text-align: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Sombra del contenedor */
    transition: transform 0.3s ease;
    max-width: 300px; /* Limitar el ancho de las tarjetas */
    margin: 0 auto; /* Centra las tarjetas */
}
.media-card:hover {
    transform: scale(1.05); /* Efecto al pasar el ratón */
}
/*---------------------------------------------------------------------------------------------------------------*/

/*--------------------------------------------Configuración de imágenes------------------------------------------*/
img {
    width: 100%; /* Ancho fijo */
    height: 200px; /* Alto fijo */
    object-fit: cover; /* La imagen se ajusta sin recortarse */
    background-color: #05e2e2; /* Color de fondo para rellenar el espacio vacío si es necesario */
    border: 2px solid #000000; /* Añadir un borde para mayor claridad */
}
/*-------------------------------------------------------------------------------------------------------------------*/


/*-----------------Dispositivos Responsive------------------------------*/

/* desconocido (más de 100px) */
@media (min-width: 100px) {
    .Contenedor-tarjetas {
        display: grid;
        grid-template-columns: 380px 380px 380px 380px; /* Cuatro columnas de 200px */
        .Text-contenedor{
            height: auto; /* Permitir que el contenedor se ajuste a su contenido */
            padding: 10px; /* Reducir el relleno en pantallas pequeñas */
            .subtexto {
                height: auto; /* Permitir que el contenedor se ajuste a su contenido */
                padding: 10px; /* Reducir el relleno en pantallas pequeñas */
                
                
              }
        }
          }
        }

/* desconocido (más de 200px) */
@media (min-width: 200px) {
    .Contenedor-tarjetas {
        display: grid;
        grid-template-columns: 380px 380px 380px 380px; /* Cuatro columnas de 200px */
        .Text-contenedor{
            height: auto; /* Permitir que el contenedor se ajuste a su contenido */
            padding: 10px; /* Reducir el relleno en pantallas pequeñas */
            .subtexto {
                height: auto; /* Permitir que el contenedor se ajuste a su contenido */
                padding: 10px; /* Reducir el relleno en pantallas pequeñas */
                
                
              }
        }
          }
        }

/* desconocido (más de 300px) */
@media (min-width: 300px) {
    .Contenedor-tarjetas {
        display: grid;
        grid-template-columns: 380px 380px 380px 380px; /* Cuatro columnas de 200px */
        .Text-contenedor{
            height: auto; /* Permitir que el contenedor se ajuste a su contenido */
            padding: 10px; /* Reducir el relleno en pantallas pequeñas */
            .subtexto {
                height: auto; /* Permitir que el contenedor se ajuste a su contenido */
                padding: 10px; /* Reducir el relleno en pantallas pequeñas */
                
                
              }
        }
          }
        }


/* desconocido (más de 400px) */
@media (min-width: 400px) {
    .Contenedor-tarjetas {
        display: grid;
        grid-template-columns: 380px 380px 380px 380px; /* Cuatro columnas de 200px */
        .Text-contenedor{
            height: auto; /* Permitir que el contenedor se ajuste a su contenido */
            padding: 10px; /* Reducir el relleno en pantallas pequeñas */
            .subtexto {
                height: auto; /* Permitir que el contenedor se ajuste a su contenido */
                padding: 10px; /* Reducir el relleno en pantallas pequeñas */
                
                
              }
        }
          }
        }

/* desconocido (más de 500px) */
@media (min-width: 500px) {
    .Contenedor-tarjetas {
        display: grid;
        grid-template-columns: 380px 380px 380px 380px; /* Cuatro columnas de 200px */
        .Text-contenedor{
            height: auto; /* Permitir que el contenedor se ajuste a su contenido */
            padding: 10px; /* Reducir el relleno en pantallas pequeñas */
            .subtexto {
                height: auto; /* Permitir que el contenedor se ajuste a su contenido */
                padding: 10px; /* Reducir el relleno en pantallas pequeñas */
                
                
              }
        }
          }
        }

/* desconocido (más de 600px) */
@media (min-width: 600px) {
    .Contenedor-tarjetas {
        display: grid;
        grid-template-columns: 380px 380px 380px 380px; /* Cuatro columnas de 200px */
        .Text-contenedor{
            height: auto; /* Permitir que el contenedor se ajuste a su contenido */
            padding: 10px; /* Reducir el relleno en pantallas pequeñas */
            .subtexto {
                height: auto; /* Permitir que el contenedor se ajuste a su contenido */
                padding: 10px; /* Reducir el relleno en pantallas pequeñas */
                
                
              }
        }
          }
        }


/* desconocido (más de 700px) */
@media (min-width: 700px) {
    .Contenedor-tarjetas {
        display: grid;
        grid-template-columns: 380px 380px 380px 380px; /* Cuatro columnas de 200px */
        .Text-contenedor{
            height: auto; /* Permitir que el contenedor se ajuste a su contenido */
            padding: 10px; /* Reducir el relleno en pantallas pequeñas */
            .subtexto {
                height: auto; /* Permitir que el contenedor se ajuste a su contenido */
                padding: 10px; /* Reducir el relleno en pantallas pequeñas */
                
                
              }
        }
          }
        }

/* desconocido (más de 800px) */
@media (min-width: 800px) {
    .Contenedor-tarjetas {
        grid-template-columns: 380px 380px 380px 380px; /* Cuatro columnas de 200px */
        .Text-contenedor{
            height: auto; /* Permitir que el contenedor se ajuste a su contenido */
            padding: 10px; /* Reducir el relleno en pantallas pequeñas */
            .subtexto {
                height: auto; /* Permitir que el contenedor se ajuste a su contenido */
                padding: 10px; /* Reducir el relleno en pantallas pequeñas */
                
                
              }
        }
          }
        }
/* desconocido (más de 900px) */
@media (min-width: 900px) {
    .Contenedor-tarjetas {
        grid-template-columns: 380px 380px 380px 380px; /* Cuatro columnas de 200px */
        .Text-contenedor{
            height: auto; /* Permitir que el contenedor se ajuste a su contenido */
            padding: 10px; /* Reducir el relleno en pantallas pequeñas */
            .subtexto {
                height: auto; /* Permitir que el contenedor se ajuste a su contenido */
                padding: 10px; /* Reducir el relleno en pantallas pequeñas */
                
                
              }
        }
          }
        }

/* desconocido (más de 1000px) ----*/
@media (min-width: 1000px) {
    .Contenedor-tarjetas {
        grid-template-columns: 380px 380px 380px 380px; /* Cuatro columnas de 200px */
        .Text-contenedor{
            height: auto; /* Permitir que el contenedor se ajuste a su contenido */
            padding: 10px; /* Reducir el relleno en pantallas pequeñas */
            .subtexto {
                height: auto; /* Permitir que el contenedor se ajuste a su contenido */
                padding: 10px; /* Reducir el relleno en pantallas pequeñas */
                
                
              }
        }
          }
        }


/* Para pantallas medianas (tablets) */
@media (min-width: 768px) {
    .Contenedor-tarjetas {
        grid-template-columns: 380px 380px 380px 380px; /* Cuatro columnas de 200px */   
        .Text-contenedor{
            height: auto; /* Permitir que el contenedor se ajuste a su contenido */
            padding: 10px; /* Reducir el relleno en pantallas pequeñas */
            .subtexto {
                height: auto; /* Permitir que el contenedor se ajuste a su contenido */
                padding: 10px; /* Reducir el relleno en pantallas pequeñas */
                
                
              }
        }
          }
        }

/* Para pantallas grandes (laptops y escritorios) */
@media (min-width: 1025px) {
    .Contenedor-tarjetas {
        grid-template-columns: 300px 300px 300px 300px; /* Cuatro columnas de 200px */
        .Text-contenedor{
            height: auto; /* Permitir que el contenedor se ajuste a su contenido */
            padding: 10px; /* Reducir el relleno en pantallas pequeñas */
            .subtexto {
                height: auto; /* Permitir que el contenedor se ajuste a su contenido */
                padding: 10px; /* Reducir el relleno en pantallas pequeñas */
                
                
              }
        }
          }
        }
    

/*-------------------------------------------------------------------------*/