html {
    background: linear-gradient(90deg, #1CB5E0 0%, #000851 100%);
    background-size: 1500px;
    margin: 0;
    padding: 20px;
}
/*------------------------------------Textos-------------------------------------*/
.Text-contenedor { /* Encabezado de la página */
    font-size: 40px;
    font-family: "Libre Baskerville", serif;
    font-weight: 500;
    margin: 0;
    padding: 30px;
    text-align: center;
    color: #fff7f7;
}

.subtexto {
    font-size: 40px;
    font-family: "Libre Baskerville", serif;
    font-weight: 500;
    margin: 0;
    padding: 50px;
    text-align: center;
    color: #fff7f7;
}
   


/*-----------------------------------Animales 1--------------------------------------------------*/
.Contenedor-tarjetas {
    display: grid; /* Activar CSS Grid */
    gap: 20px; /* Espacio entre filas y columnas */
    
    padding: 20px;
   
}
.media-card {
    background-color: #fff; /* Fondo de contenedor de las imágenes */
    border-radius: 10px;
    padding: 30px;
    text-align: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Sombra del contenedor */
    transition: transform 0.3s ease;
    max-width: 300px; /* Limitar el ancho de las tarjetas */
    margin: 0 auto; /* Centra las tarjetas */
}
.media-card:hover {
    transform: scale(1.05); /* Efecto al pasar el ratón */
}
/*---------------------------------------------------------------------------------------------------------------*/

/*--------------------------------------------Configuración de imágenes------------------------------------------*/
img {
    width: 100%; /* Ancho fijo */
    height: 200px; /* Alto fijo */
    object-fit: cover; /* La imagen se ajusta sin recortarse */
    background-color: #05e2e2; /* Color de fondo para rellenar el espacio vacío si es necesario */
    border: 2px solid #000000; /* Añadir un borde para mayor claridad */
}
/*-------------------------------------------------------------------------------------------------------------------*/


/*-----------------Dispositivos Responsive------------------------------*/

/* desconocido (más de 100px) */
@media (min-width: 100px) {
    .Contenedor-tarjetas {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
     
    }}
/* desconocido (más de 200px) */
@media (min-width: 200px) {
    .Contenedor-tarjetas {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
   
    }}
/* desconocido (más de 300px) */
@media (min-width: 300px) {
    .Contenedor-tarjetas {
        display: grid;
        grid-template-columns: repeat(4, 1fr);

    }}

/* desconocido (más de 400px) */
@media (min-width: 400px) {
    .Contenedor-tarjetas {
        display: grid;
        grid-template-columns: repeat(4, 1fr);

    }
}
/* desconocido (más de 500px) */
@media (min-width: 500px) {
    .Contenedor-tarjetas {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        
    }
}
/* desconocido (más de 600px) */
@media (min-width: 600px) {
    .Contenedor-tarjetas {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        
    }
}

/* desconocido (más de 700px) */
@media (min-width: 700px) {
    .Contenedor-tarjetas {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        
    }
}

/* desconocido (más de 800px) */
@media (min-width: 800px) {
    .Contenedor-tarjetas {
        grid-template-columns: repeat(4, 1fr);
        
    }}
/* desconocido (más de 900px) */
@media (min-width: 900px) {
    .Contenedor-tarjetas {
        grid-template-columns: repeat(4, 1fr);
        
    }}

/* desconocido (más de 1000px) ----*/
@media (min-width: 1000px) {
    .Contenedor-tarjetas {
        grid-template-columns: repeat(4, 1fr);
        
    }}


/* Para pantallas medianas (tablets) */
@media (min-width: 768px) {
    .Contenedor-tarjetas {
        grid-template-columns: repeat(4, 1fr); /* 4 columnas en pantallas grandes */      
    }
}

/* Para pantallas grandes (laptops y escritorios) */
@media (min-width: 1025px) {
    .Contenedor-tarjetas {
        grid-template-columns: repeat(auto); /* 4 columnas en pantallas grandes */
    }}

/*-------------------------------------------------------------------------*/